app/*.onnx filter=lfs diff=lfs merge=lfs -text
app/*.data filter=lfs diff=lfs merge=lfs -text
app/*.csv filter=lfs diff=lfs merge=lfs -text
app/toxic_model.onnx filter=lfs diff=lfs merge=lfs -text
app/toxic_model.onnx.data filter=lfs diff=lfs merge=lfs -text
